/* CamelCase */
:root {
  /* MainColor */
  --themeColor: #f57c00;
  --black: #333333;
  --lightBlack: #757575;
  /* PartnerColor */
  --mainPt: #ef8b24;
  --subPt: #f5ba08;
  --normalPt: #91897f;
  --newPt: #d0011b;
}
